Repository aallendez/holonote: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-prettier, frontend-eslint, frontend-typecheck, backend-tests

.pre-commit-config.yaml:

repos:
  # ================================
  # 1. GENERAL SAFETY HOOKS
  # ================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # ================================
  # 2. SECRET SCANNING
  # ================================
  - repo: local
    hooks:
      - id: gitleaks
        name: detect-secrets
        entry: ./.gitleaks-hook.sh
        language: system
        pass_filenames: false
        always_run: true

  # ================================
  # 3. TERRAFORM HOOKS (infra/)
  # ================================
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.92.0
    hooks:
      - id: terraform_fmt
        files: ^infra/
      - id: terraform_validate
        files: ^infra/

  # ================================
  # 4. BACKEND PYTHON HOOKS (backend/)
  # ================================
  - repo: https://github.com/psf/black
    rev: 24.1.0
    hooks:
      - id: black
        language_version: python3.11
        files: ^backend/

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.0
    hooks:
      - id: isort
        language_version: python3.11
        files: ^backend/

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        files: ^backend/

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        args: ["-r", "backend/src"]
        files: ^backend/

  # ================================
  # 5. FRONTEND HOOKS (frontend/)
  # ================================
  - repo: local
    hooks:
      - id: frontend-prettier
        name: Frontend Prettier
        entry: npx prettier --check .
        language: system
        types_or: [javascript, css, json, yaml]
        files: ^frontend/

      - id: frontend-eslint
        name: Frontend ESLint
        entry: npx eslint .
        language: system
        types_or: [javascript]
        files: ^frontend/

      - id: frontend-typecheck
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: system
        files: ^frontend/

  # ================================
  # 6. CUSTOM HOOK: Backend unit test quick run
  # Only runs tests in backend/ when Python files change
  # ================================
  - repo: local
    hooks:
      - id: backend-tests
        name: Backend Unit Tests (fast)
        entry: bash -c "cd backend && pytest -q --disable-warnings || exit 1"
        language: system
        files: ^backend/.*\.py$

fix: ci backend version 2
  .github/scripts/.gitleaks-hook.sh
  .github/workflows/ci_backend.yaml
  .pre-commit-config.yaml
Due: none

fix: ci backend version 3
  .github/workflows/ci_backend.yaml
Due: none

fix: ci backend version 4
  .pre-commit-config.yaml
  backend/src/core/auth.py
Due: backend-tests

fix: ci frontend v1
  .github/workflows/ci_infra.yaml
  .pre-commit-config.yaml
  frontend/app/api/auth.test.ts
  frontend/app/api/auth.ts
  frontend/app/api/entries.mock.ts
  frontend/app/api/entries.test.ts
  frontend/app/api/entries.ts
  frontend/app/api/holos.ts
  frontend/app/app.css
  frontend/app/components/ContributionGrid.tsx
  frontend/app/components/Footer.tsx
  frontend/app/components/HoloCTA.tsx
  frontend/app/components/HoloPopup.tsx
  frontend/app/components/LatestEntries.tsx
  frontend/app/components/LatestHolo.tsx
  frontend/app/components/LoadingSpinner.tsx
  frontend/app/components/Stats.tsx
  frontend/app/components/Toolbar.tsx
  frontend/app/components/WarningPopUp.tsx
  frontend/app/context/authContext.tsx
  frontend/app/hooks/useAuthenticatedApi.ts
  frontend/app/hooks/useLatestHolo.ts
  frontend/app/hooks/useTodayHolo.ts
  frontend/app/lib/firebase.ts
  frontend/app/root.tsx
  frontend/app/routes.ts
  frontend/app/routes/_index.tsx
  frontend/app/routes/dashboard.tsx
  frontend/app/routes/entries.tsx
  frontend/app/routes/login.tsx
  frontend/app/routes/new-entry.tsx
  frontend/app/routes/settings.tsx
  frontend/app/routes/signup.tsx
  frontend/dummy.txt
  frontend/eslint.config.js
  frontend/package.json
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/vitest.setup.ts
Due: frontend-prettier, frontend-eslint, frontend-typecheck

add package json
  .gitignore
  frontend/package-lock.json
Due: frontend-prettier, frontend-typecheck

fix: frontend ci v3<
  frontend/package.json
Due: frontend-prettier, frontend-typecheck

fix: release ci v1
  frontend/vite.config.ts
Due: frontend-typecheck

fix: release ci v2
  .github/workflows/release.yaml
Due: none

fix: release ci v3
  .github/workflows/release.yaml
Due: none

feat: integration tests
  .github/workflows/ci_backend.yaml
  .pre-commit-config.yaml
  LICENSE
  README.md
  backend/main.py
  backend/requirements.txt
  backend/src/api/router.py
  backend/src/api/routes/auth.py
  backend/src/api/routes/entries.py
  backend/src/api/routes/holos.py
  backend/src/core/config.py
  backend/src/db/entries.py
  backend/src/db/holos.py
  backend/src/db/session.py
  backend/src/db/users.py
  backend/src/models/__init__.py
  backend/src/models/entries.py
  backend/src/models/holos.py
  backend/src/models/users.py
  backend/src/services/user_service.py
  backend/tests/integration/test_backend_integration.py
  backend/tests/unit/api/routes/test_auth_api.py
  backend/tests/unit/api/routes/test_entries_api.py
  backend/tests/unit/api/routes/test_holos_api.py
  backend/tests/unit/core/test_auth.py
  backend/tests/unit/db/test_entries_db.py
  backend/tests/unit/db/test_holos_db.py
  backend/tests/unit/db/test_users.py
  backend/tests/unit/services/test_user_creation.py
  db/init.sql
  docker-compose.prod.yaml
  frontend/.dockerignore
  frontend/Dockerfile
  makefile
  prompts.md
Due: frontend-typecheck, backend-tests

test results file
  test_results.txt
Due: none

prompts and report
  REPORT.md
  prompts.md
Due: none

feat: nginx setup
  .github/workflows/release.yaml
  frontend/Dockerfile
  nginx.dev.conf
  nginx.prod.conf
Due: frontend-typecheck

fix: changes to cors
  backend/main.py
  frontend/react-router.config.ts
Due: frontend-typecheck, backend-tests

fix: allow all cors in backend
  README.md
  backend/main.py
  makefile
  nginx.prod.conf
Due: backend-tests

feat: CD pipeline v1
  .github/workflows/cd_deploy.yaml
  .github/workflows/release.yaml
Due: none

fix: cd pipeline v2
  .github/workflows/cd_deploy.yaml
Due: none

feat: infra setup
  .gitignore
  infra/main.tf
  infra/modules/backend/main.tf
  infra/modules/backend/outputs.tf
  infra/modules/backend/variables.tf
  infra/modules/db/main.tf
  infra/modules/db/outputs.tf
  infra/modules/db/variables.tf
  infra/modules/frontend/main.tf
  infra/modules/frontend/outputs.tf
  infra/modules/frontend/variables.tf
  infra/outputs.tf
  infra/providers.tf
  infra/terraform.tfvars
  infra/variables.tf
  infra/versions.tf
Due: none

fix: add logs to backend for better debugging, change infra config to get from aws secrets
  .github/workflows/cd_deploy.yaml
  backend/main.py
  infra/main.tf
  infra/terraform.tfvars
  infra/variables.tf
  nginx.prod.conf
Due: backend-tests

refactor: nginx folder and prod infra
  .github/workflows/release.yaml
  frontend/Dockerfile
  infra/main.tf
  infra/modules/backend/main.tf
  infra/modules/backend/variables.tf
  infra/terraform.tfvars
  nginx/Dockerfile
  nginx/entrypoint.sh
  nginx/nginx.dev.conf
  nginx/nginx.prod.conf
Due: frontend-typecheck

fix: nginx folder and prod infra
  infra/main.tf
Due: none

fix: added health endpoint to backend
  backend/main.py
Due: backend-tests

fix: added cors to backend
  backend/main.py
  backend/src/core/auth.py
Due: backend-tests

fix: race condition on firebase init
  backend/src/core/auth.py
Due: backend-tests

fix: fix endpoints for entries to rm trailing slash
  backend/src/api/routes/entries.py
Due: backend-tests

fix: add new https domain to cors
  backend/main.py
Due: backend-tests

feat: working infra setup
  REPORT.md
  infra/modules/backend/main.tf
  infra/modules/backend/outputs.tf
  infra/modules/frontend/main.tf
  infra/terraform.tfvars
Due: none

feat: grafana and prometheus setup, health endpoints created
  README.md
  REPORT.md
  backend/main.py
  backend/requirements.txt
  backend/src/api/routes/health.py
  backend/src/core/metrics.py
  infra/main.tf
  infra/modules/backend/main.tf
  infra/modules/backend/outputs.tf
  infra/modules/backend/variables.tf
  infra/modules/monitoring/grafana-provisioning/dashboards/holonote-backend.json
  infra/modules/monitoring/main.tf
  infra/modules/monitoring/outputs.tf
  infra/modules/monitoring/variables.tf
  infra/outputs.tf
  infra/variables.tf
  makefile
  test_results.txt
Due: backend-tests

fix: mock firebase api in auth unit tests and fix ci tests
  backend/tests/unit/core/test_auth.py
Due: backend-tests

fix: giving IAM access to CD pipeline
  infra/main.tf
  infra/modules/github-actions/main.tf
  infra/modules/github-actions/outputs.tf
  infra/modules/github-actions/variables.tf
  infra/outputs.tf
  infra/terraform.tfvars
  infra/variables.tf
Due: none

Add OIDC debugging and audience
  .github/workflows/cd_deploy.yaml
Due: none

Add OIDC debugging and audience and test deploy
  infra/terraform.tfvars
Due: none

fixed repo name mismatch
  infra/modules/github-actions/main.tf
  infra/terraform.tfvars
Due: none

Make terraform not depend on gh actions secret for aws credentials
  .github/workflows/cd_deploy.yaml
  infra/terraform.tfvars
Due: none

testing if this makes CD work
  infra/bootstrap-state.sh
  infra/modules/github-actions/main.tf
  infra/terraform.tfvars
  infra/versions.tf
Due: none

debugging cd deploy
  .github/workflows/cd_deploy.yaml
Due: none

debugging cd deploy
  infra/terraform.tfvars
Due: none

exposing to action firbease secrets
  .github/workflows/cd_deploy.yaml
  infra/terraform.tfvars
Due: none

exposing to action firbease secrets v2
  .github/workflows/cd_deploy.yaml
  infra/terraform.tfvars
Due: none

adding reports, readmes and shenannigans
  README.md
  REPORT.md
  prompts.md
Due: none
